body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

/* Apply styles to the header */
header {
    background-color: #0074cc;
    color: white;
    padding: 10px 0;
    height: 65px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-left img {
    height: 55px;
    align-items: center;
    margin-top: 7.5px;
    margin-right: 15px;
    line-height: 10px;
    display: inline-block; /* Mengubah display menjadi inline-block */
}
.header-text {
    font-size: x-large;
    align-items: top;
    display: flex;
    margin-left: 2.5cm;
    margin-top: -1.2cm;
}
.header-right {
    display: flex;
}

.user-info {
    display: flex;
    align-items: :right;
    margin-bottom: 7px;
    margin-right: -1.6cm;
    
}

.logout-button-container {
    margin-top: 30px;
}

.button-logout {
    text-decoration: none;
    color: white;
    background-color: #0074cc;
    cursor: pointer;
    padding: 3px 10px; /* Adjust padding as needed */
    border: 0px solid #0074cc;
    border-radius: 3px;
    justify-content: right;
}

.button-logout:hover {
    background-color: #005aa6; /* Warna latar belakang saat dihover */
}

/* Gaya tombol-tombol header */
.header-buttons {
    display: flex;
    background-color: #24577f;
    text-align: center;
    padding: 0px;
}

.header-button {
   font-size: small;
   justify-content: left;
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    padding: 5px 10px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    margin: 10px; /* Jarak antara tombol-tombol */
    cursor: pointer;
}

.header-button:hover {
    background-color: rgb(54, 64, 81); /* Warna latar belakang saat dihover */
}
#plus-button{
    font-size: small;
    padding: 5px 10px;
    margin-top: 2px;
    background-color: #24577f;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

#button :hover{
color: #24577f;
background-color: #ffffff;

}


.top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    align
}
/* Gaya untuk opsi dan tombol */
.options {
    margin: 20px;
    margin-top: -20px;
}

.input-group{
    display: flex;
    flex-direction: column;

}
.data-header{
    display: flex;
    align-items: ;
}
label {
    margin-right: 1px;
}

select {
    padding: 5px;
    border-radius: 5px;
}

.button {
    padding: 5px 10px;
    background-color: #24577f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 0.5cm;

}
.data-title {
    margin-bottom: 17px;
}

#tampilkan {
    justify-content: left;
     text-decoration: none;
     color: #ffffff;
     padding: 5px 10px;
     border: 2px solid #ffffff;
     border-radius: 7px;
     margin-left: 0.8px; /* Jarak antara tombol-tombol */
     cursor: pointer;
    background-color: #24577f;
    color: white;
}
#tampilkan:hover {
    background-color: rgb(44, 59, 87);

}
.table-container {
    overflow-x: auto; /* Tampilkan bilah geser horizontal jika konten tabel terlalu lebar */
    max-width: 100%; /* Lebar maksimum sesuai dengan lebar jendela */
}


/* Gaya untuk tabel data */
.data-table {
    max-width: 100%;
    width: 85%;
    border-collapse: collapse;
    margin-left: .5cm;
    table-layout: fixed; /* Tetapkan lebar tabel agar tidak melampaui lebar kontainernya */
}

.data-table th {
    padding: 10px;
    text-align: center;
    border: 1px solid #9a9a9a;
    background-color: #24577f;
    color: white;
}

.data-table td {
    padding: 10px;
    max-height: 100%;
    text-align: center; /* Rata tengah seluruh kolom, kecuali yang memiliki kelas "left-align" */
    border: 1px solid #9a9a9a;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
/* Gaya untuk tabel data */
.data-table th:nth-child(1) { width: 2%; }
.data-table th:nth-child(2) { width: 15%; }
.data-table th:nth-child(3) { width: 10%; }
.data-table th:nth-child(4) { width: 8%; }
.data-table th:nth-child(5) { width: 8%; }
.data-table th:nth-child(6) { width: 8%; }
.data-table th:nth-child(7) { width: 8%; }
.data-table th:nth-child(8) { width: 10%; }

/* Gaya untuk sel-sel dengan kelas "left-align" (kolom "Nama Tentor") */
.data-table td.left-align {
    text-align: left; /* Rata kiri isi kolom "Nama Tentor" yang memiliki kelas "left-align" */
}


/*DATA TENTOR KIRI ATAS BODY*/
.data-title {
    color: #24577f;
    font-size: xx-large;
}